<h1>What should I convert to Yoda speak?</h1>
<form action="/auth_api/mashape_intro_process">
  <label for="text">Text:</label><br>
  <textarea name="text" id="text" cols="30" rows="10"></textarea><br>
  <input type="submit">
</form>
